<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex><!--FxFlex eans that these two pieces will be layed out on top of each other-->
    <div>
      <h3>Menu</h3>
      <hr>
    </div>
  </div>
  <div FxFlex *ngIf="Dishes">
    <mat-grid-list fxFlex cols="2" rowHeight="200px" >
      <mat-grid-tile *ngFor="let dish of Dishes" [routerLink]="['/dishDetails',dish.id]"  appHighlight>
        <img height="200px" src="{{baseURL + dish.image}}" alt={{dish.name}}>
        <mat-grid-tile-footer>
            <h1 matLine>{{dish.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div> 
  <div fxFlex *ngIf="selectedDish">
  </div> 
  <div fxFlex [hidden]="Dishes || errMsg">
    <mat-spinner></mat-spinner><h4>Loading... Please wait.</h4>
  </div>
  <div fxFlex *ngIf="errMsg">
    <h2>Error</h2>
    <h4>{{errMsg}}</h4>
  </div>
</div>